<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aggelos.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.example.aggelos.digitalaristotle.LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.aggelos.digitalaristotle.CategoryActivity"
            android:label="@string/app_name"/>
        <activity android:name="com.example.aggelos.digitalaristotle.MathActivity"
            android:parentActivityName="com.example.aggelos.digitalaristotle.CategoryActivity"/>
        <activity android:name="com.example.aggelos.digitalaristotle.CompActivity"
            android:parentActivityName="com.example.aggelos.digitalaristotle.CategoryActivity"/>
        <activity android:name="com.example.aggelos.digitalaristotle.ChemActivity"
            android:parentActivityName="com.example.aggelos.digitalaristotle.CategoryActivity"/>
        <activity android:name="com.example.aggelos.digitalaristotle.PhysActivity"
            android:parentActivityName="com.example.aggelos.digitalaristotle.CategoryActivity"/>
        <activity android:name="com.example.aggelos.digitalaristotle.CompProgActivity"
            android:parentActivityName="com.example.aggelos.digitalaristotle.CompActivity"/>

        <activity android:name="com.example.aggelos.digitalaristotle.CompMarkupActivity"
            android:parentActivityName="com.example.aggelos.digitalaristotle.CompActivity"/>

        <activity android:name="com.example.aggelos.digitalaristotle.CompDataActivity"
            android:parentActivityName="com.example.aggelos.digitalaristotle.CompActivity"/>

        <activity android:name="com.example.aggelos.digitalaristotle.CompNetActivity"
            android:parentActivityName="com.example.aggelos.digitalaristotle.CompActivity"/>

        <activity android:name="com.example.aggelos.digitalaristotle.PhysClassicActivity"
            android:parentActivityName="com.example.aggelos.digitalaristotle.PhysActivity"/>

        <activity android:name="com.example.aggelos.digitalaristotle.PhysNewAgeActivity"
            android:parentActivityName="com.example.aggelos.digitalaristotle.PhysActivity"/>

        <activity android:name="com.example.aggelos.digitalaristotle.SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.example.aggelos.digitalaristotle.PlayerActivity"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>